## Linear Classifier in TensorFlow 
Using Low Level API in Eager Execution mode

### Load tensorflow

In [1]:
import tensorflow as tf

In [2]:
#Enable Eager Execution if using tensflow version < 2.0
#From tensorflow v2.0 onwards, Eager Execution will be enabled by default

### Collect Data

In [3]:
#from google.colab import drive
#drive.mount('/gdrive')

In [4]:
import pandas as pd

In [5]:
data = pd.read_csv('prices.csv')

### Check all columns in the dataset

In [6]:
data.head()

,date,symbol,open,close,low,high,volume
0,2016-01-05 00:00:00,WLTW,123.430000,125.839996,122.309998,126.250000,2163600.0
1,2016-01-06 00:00:00,WLTW,125.239998,119.980003,119.940002,125.540001,2386400.0
2,2016-01-07 00:00:00,WLTW,116.379997,114.949997,114.930000,119.739998,2489500.0
3,2016-01-08 00:00:00,WLTW,115.480003,116.620003,113.500000,117.440002,2006300.0
4,2016-01-11 00:00:00,WLTW,117.010002,114.970001,114.089996,117.330002,1408600.0

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 851264 entries, 0 to 851263
Data columns (total 7 columns):
date      851264 non-null object
symbol    851264 non-null object
open      851264 non-null float64
close     851264 non-null float64
low       851264 non-null float64
high      851264 non-null float64
volume    851264 non-null float64
dtypes: float64(5), object(2)
memory usage: 45.5+ MB

### Drop columns `date` and  `symbol`

In [8]:
data.drop("date", axis=1, inplace=True)
data.drop("symbol", axis=1, inplace=True)

In [9]:
data.head()

         open       close         low        high     volume
0  123.430000  125.839996  122.309998  126.250000  2163600.0
1  125.239998  119.980003  119.940002  125.540001  2386400.0
2  116.379997  114.949997  114.930000  119.739998  2489500.0
3  115.480003  116.620003  113.500000  117.440002  2006300.0
4  117.010002  114.970001  114.089996  117.330002  1408600.0

### Consider only first 1000 rows in the dataset for building feature set and target set
Target 'Volume' has very high values. Divide 'Volume' by 1000,000

In [10]:
df = data.head(1000)

In [11]:
X = df.drop("volume", axis=1)
Y = df["volume"]

In [12]:
X.head()

         open       close         low        high
0  123.430000  125.839996  122.309998  126.250000
1  125.239998  119.980003  119.940002  125.540001
2  116.379997  114.949997  114.930000  119.739998
3  115.480003  116.620003  113.500000  117.440002
4  117.010002  114.970001  114.089996  117.330002

In [13]:
Y.head()

0    2163600.0
1    2386400.0
2    2489500.0
3    2006300.0
4    1408600.0
Name: volume, dtype: float64

In [14]:
Y = Y.divide(1000000)

In [15]:
Y.head()

0    2.1636
1    2.3864
2    2.4895
3    2.0063
4    1.4086
Name: volume, dtype: float64

### Divide the data into train and test sets

In [16]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(X,Y,test_size=0.3,random_state=1)

#### Convert Training and Test Data to numpy float32 arrays

In [17]:
import numpy as np
x_train = np.array(xtrain, dtype="float32")
y_train = np.array(ytrain, dtype="float32")
x_test = np.array(xtest, dtype="float32")
y_test = np.array(ytest, dtype="float32")

In [18]:
x_train

array([[ 27.77   ,  27.65   ,  27.41   ,  27.84   ],
       [ 12.94   ,  13.33   ,  12.88   ,  13.37   ],
       [ 18.57   ,  18.89   ,  18.4    ,  18.97   ],
       ...,
       [627.18   , 623.99   , 621.54004, 627.83997],
       [125.19   , 123.     , 121.95   , 125.91   ],
       [113.04   , 113.32   , 111.65   , 115.36   ]], dtype=float32)

### Normalize the data
You can use Normalizer from sklearn.preprocessing

In [19]:
from sklearn.preprocessing import Normalizer
N = Normalizer()
x_train=N.fit_transform(x_train)
x_test=N.transform(x_test)

## Building the Model in tensorflow

1.Define Weights and Bias, use tf.zeros to initialize weights and Bias

In [20]:
W = tf.Variable(tf.random_normal(shape=[4,1]), name="Weights")
b = tf.Variable(tf.zeros(shape=[1]),name="Bias")

WARNING:tensorflow:From D:\Softwares\anaconda3\lib\site-packages\tensorflow\python\framework\op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [21]:
W

2.Define a function to calculate prediction

In [22]:
y_pred = tf.add(tf.matmul(x_train,W),b,name='output')

3.Loss (Cost) Function [Mean square error]

In [23]:
loss = tf.reduce_mean(tf.square(y_pred-y_train),name='mse')

4.Function to train the Model

1.   Record all the mathematical steps to calculate Loss
2.   Calculate Gradients of Loss w.r.t weights and bias
3.   Update Weights and Bias based on gradients and learning rate to minimize loss

In [24]:
train_gd = tf.train.GradientDescentOptimizer(0.03).minimize(loss)

## Train the model for 100 epochs 
1. Observe the training loss at every iteration
2. Observe Train loss at every 5th iteration

In [25]:
x = tf.placeholder(shape=[None,4], dtype=tf.float32)  # x place holder
y = tf.placeholder(shape=[None], dtype=tf.float32) # y place holder

In [26]:
sess = tf.Session()
sess.run(tf.global_variables_initializer())
training_epochs = 100
for epoch in range(training_epochs):
    _, train_loss = sess.run([train_gd,loss],feed_dict={x:x_train, y:y_train})  
    print ('Training loss at every step: ', epoch, ' is ', train_loss)

Training loss at every step:  0  is  224.76375
Training loss at every step:  1  is  218.14021
Training loss at every step:  2  is  213.01097
Training loss at every step:  3  is  209.03882
Training loss at every step:  4  is  205.96277
Training loss at every step:  5  is  203.58069
Training loss at every step:  6  is  201.736
Training loss at every step:  7  is  200.30745
Training loss at every step:  8  is  199.20117
Training loss at every step:  9  is  198.34444
Training loss at every step:  10  is  197.68102
Training loss at every step:  11  is  197.16722
Training loss at every step:  12  is  196.76938
Training loss at every step:  13  is  196.46126
Training loss at every step:  14  is  196.22266
Training loss at every step:  15  is  196.03787
Training loss at every step:  16  is  195.89478
Training loss at every step:  17  is  195.784
Training loss at every step:  18  is  195.69815
Training loss at every step:  19  is  195.63173
Training loss at every step:  20  is  195.58025
Training loss at every step:  21  is  195.5404
Training loss at every step:  22  is  195.50957
Training loss at every step:  23  is  195.48564
Training loss at every step:  24  is  195.46712
Training loss at every step:  25  is  195.4528
Training loss at every step:  26  is  195.4417
Training loss at every step:  27  is  195.4331
Training loss at every step:  28  is  195.42647
Training loss at every step:  29  is  195.4213
Training loss at every step:  30  is  195.41731
Training loss at every step:  31  is  195.41422
Training loss at every step:  32  is  195.4118
Training loss at every step:  33  is  195.40996
Training loss at every step:  34  is  195.40852
Training loss at every step:  35  is  195.40741
Training loss at every step:  36  is  195.40657
Training loss at every step:  37  is  195.40591
Training loss at every step:  38  is  195.40538
Training loss at every step:  39  is  195.405
Training loss at every step:  40  is  195.40466
Training loss at every step:  41  is  195.40442
Training loss at every step:  42  is  195.40425
Training loss at every step:  43  is  195.40408
Training loss at every step:  44  is  195.40398
Training loss at every step:  45  is  195.40388
Training loss at every step:  46  is  195.40385
Training loss at every step:  47  is  195.4038
Training loss at every step:  48  is  195.40375
Training loss at every step:  49  is  195.40372
Training loss at every step:  50  is  195.40369
Training loss at every step:  51  is  195.40367
Training loss at every step:  52  is  195.40366
Training loss at every step:  53  is  195.40366
Training loss at every step:  54  is  195.40364
Training loss at every step:  55  is  195.40363
Training loss at every step:  56  is  195.40363
Training loss at every step:  57  is  195.40361
Training loss at every step:  58  is  195.40361
Training loss at every step:  59  is  195.4036
Training loss at every step:  60  is  195.4036
Training loss at every step:  61  is  195.40363
Training loss at every step:  62  is  195.4036
Training loss at every step:  63  is  195.4036
Training loss at every step:  64  is  195.40361
Training loss at every step:  65  is  195.4036
Training loss at every step:  66  is  195.4036
Training loss at every step:  67  is  195.4036
Training loss at every step:  68  is  195.4036
Training loss at every step:  69  is  195.40361
Training loss at every step:  70  is  195.4036
Training loss at every step:  71  is  195.4036
Training loss at every step:  72  is  195.4036
Training loss at every step:  73  is  195.4036
Training loss at every step:  74  is  195.4036
Training loss at every step:  75  is  195.4036
Training loss at every step:  76  is  195.4036
Training loss at every step:  77  is  195.4036
Training loss at every step:  78  is  195.4036
Training loss at every step:  79  is  195.4036
Training loss at every step:  80  is  195.4036
Training loss at every step:  81  is  195.4036
Training loss at every step:  82  is  195.4036
Training loss at every step:  83  is  195.4036
Training loss at every step:  84  is  195.40358
Training loss at every step:  85  is  195.40358
Training loss at every step:  86  is  195.4036
Training loss at every step:  87  is  195.4036
Training loss at every step:  88  is  195.4036
Training loss at every step:  89  is  195.4036
Training loss at every step:  90  is  195.4036
Training loss at every step:  91  is  195.4036
Training loss at every step:  92  is  195.4036
Training loss at every step:  93  is  195.4036
Training loss at every step:  94  is  195.4036
Training loss at every step:  95  is  195.4036
Training loss at every step:  96  is  195.4036
Training loss at every step:  97  is  195.4036
Training loss at every step:  98  is  195.4036
Training loss at every step:  99  is  195.4036

In [27]:
sess = tf.Session()
sess.run(tf.global_variables_initializer())
training_epochs = 100
for epoch in range(training_epochs):
    _, train_loss = sess.run([train_gd,loss],feed_dict={x:x_train, y:y_train})  
    if epoch % 5 == 0:
        print ('Training loss at step: ', epoch, ' is ', train_loss)

Training loss at step:  0  is  238.91086
Training loss at step:  5  is  207.5208
Training loss at step:  10  is  198.77838
Training loss at step:  15  is  196.34348
Training loss at step:  20  is  195.66531
Training loss at step:  25  is  195.47647
Training loss at step:  30  is  195.42386
Training loss at step:  35  is  195.40921
Training loss at step:  40  is  195.40514
Training loss at step:  45  is  195.404
Training loss at step:  50  is  195.40369
Training loss at step:  55  is  195.4036
Training loss at step:  60  is  195.40356
Training loss at step:  65  is  195.40356
Training loss at step:  70  is  195.40356
Training loss at step:  75  is  195.40356
Training loss at step:  80  is  195.40356
Training loss at step:  85  is  195.40356
Training loss at step:  90  is  195.40356
Training loss at step:  95  is  195.40356

### Get the shapes and values of W and b

In [28]:
sess.run(W)

array([[ 0.6688872 ],
       [ 2.1279469 ],
       [ 1.7080756 ],
       [-0.04335737]], dtype=float32)

In [29]:
sess.run(b)

array([3.2980797], dtype=float32)

### Model Prediction on 1st Examples in Test Dataset

In [30]:
y_test_pred = tf.add(tf.matmul(x_test,W),b,name='output')

In [31]:
sess.run(y_test_pred)

array([[5.519988 ],
       [5.5249915],
       [5.5232267],
       [5.523267 ],
       [5.525137 ],
       [5.5225563],
       [5.5266466],
       [5.5196285],
       [5.514045 ],
       [5.5241623],
       [5.52149  ],
       [5.5249043],
       [5.523815 ],
       [5.524747 ],
       [5.510103 ],
       [5.5159607],
       [5.523132 ],
       [5.499506 ],
       [5.5192   ],
       [5.5107794],
       [5.523558 ],
       [5.5239058],
       [5.523819 ],
       [5.5140243],
       [5.526622 ],
       [5.497551 ],
       [5.5265884],
       [5.520812 ],
       [5.5174956],
       [5.5117226],
       [5.5245733],
       [5.520252 ],
       [5.5111036],
       [5.520823 ],
       [5.5088644],
       [5.523848 ],
       [5.523883 ],
       [5.52378  ],
       [5.521846 ],
       [5.522073 ],
       [5.522361 ],
       [5.523384 ],
       [5.511075 ],
       [5.5230465],
       [5.5224338],
       [5.517988 ],
       [5.5244074],
       [5.524369 ],
       [5.5136456],
       [5.5277414],
       [5.5236616],
       [5.5208693],
       [5.521697 ],
       [5.5251274],
       [5.5060215],
       [5.5141854],
       [5.5157433],
       [5.518699 ],
       [5.526678 ],
       [5.5153027],
       [5.524031 ],
       [5.511804 ],
       [5.523731 ],
       [5.5134006],
       [5.5218964],
       [5.5193043],
       [5.5216627],
       [5.522766 ],
       [5.526376 ],
       [5.523018 ],
       [5.521946 ],
       [5.516762 ],
       [5.522184 ],
       [5.5231752],
       [5.523405 ],
       [5.5156736],
       [5.524699 ],
       [5.52748  ],
       [5.519045 ],
       [5.5160804],
       [5.5248356],
       [5.521186 ],
       [5.523097 ],
       [5.5207725],
       [5.5253277],
       [5.507144 ],
       [5.5208597],
       [5.522277 ],
       [5.5239177],
       [5.5249825],
       [5.5198374],
       [5.5233765],
       [5.520391 ],
       [5.509446 ],
       [5.5217886],
       [5.507883 ],
       [5.5276294],
       [5.520234 ],
       [5.524625 ],
       [5.524266 ],
       [5.5249224],
       [5.5023937],
       [5.5186543],
       [5.526335 ],
       [5.5140247],
       [5.5226965],
       [5.5232735],
       [5.5261593],
       [5.5255566],
       [5.5236225],
       [5.524286 ],
       [5.5236235],
       [5.524958 ],
       [5.52329  ],
       [5.521433 ],
       [5.5199594],
       [5.5218434],
       [5.518078 ],
       [5.5116215],
       [5.5201483],
       [5.525013 ],
       [5.5236998],
       [5.518782 ],
       [5.5123663],
       [5.5237017],
       [5.5206604],
       [5.512638 ],
       [5.522522 ],
       [5.5203047],
       [5.5156345],
       [5.5230927],
       [5.515108 ],
       [5.5191107],
       [5.501931 ],
       [5.5235105],
       [5.5246754],
       [5.5264707],
       [5.5195093],
       [5.5240517],
       [5.525386 ],
       [5.5271873],
       [5.5209208],
       [5.5212975],
       [5.526702 ],
       [5.523401 ],
       [5.520156 ],
       [5.5200624],
       [5.5218253],
       [5.4931526],
       [5.521792 ],
       [5.525301 ],
       [5.496587 ],
       [5.513542 ],
       [5.52528  ],
       [5.515008 ],
       [5.5239377],
       [5.52177  ],
       [5.525316 ],
       [5.526584 ],
       [5.524688 ],
       [5.522126 ],
       [5.5233164],
       [5.52639  ],
       [5.521924 ],
       [5.5242534],
       [5.5277295],
       [5.521457 ],
       [5.524659 ],
       [5.5227394],
       [5.5228987],
       [5.525774 ],
       [5.5234156],
       [5.5238237],
       [5.520125 ],
       [5.5182085],
       [5.52087  ],
       [5.5229335],
       [5.507559 ],
       [5.5249157],
       [5.5246687],
       [5.520475 ],
       [5.5211463],
       [5.5229044],
       [5.523273 ],
       [5.5237913],
       [5.527033 ],
       [5.52431  ],
       [5.5184765],
       [5.520829 ],
       [5.526908 ],
       [5.525595 ],
       [5.526375 ],
       [5.5255775],
       [5.5249963],
       [5.5259056],
       [5.517885 ],
       [5.5191073],
       [5.5250535],
       [5.518977 ],
       [5.52079  ],
       [5.5229874],
       [5.512165 ],
       [5.521106 ],
       [5.522196 ],
       [5.4783087],
       [5.519042 ],
       [5.503982 ],
       [5.510601 ],
       [5.522319 ],
       [5.523244 ],
       [5.5214453],
       [5.520933 ],
       [5.5137424],
       [5.5115147],
       [5.5181723],
       [5.5197186],
       [5.5214396],
       [5.522726 ],
       [5.5175505],
       [5.522958 ],
       [5.5249968],
       [5.5208206],
       [5.5210495],
       [5.519311 ],
       [5.524518 ],
       [5.5180416],
       [5.5248995],
       [5.5253296],
       [5.523636 ],
       [5.5186234],
       [5.5247865],
       [5.520036 ],
       [5.5153875],
       [5.510557 ],
       [5.523119 ],
       [5.522938 ],
       [5.5162764],
       [5.5227485],
       [5.52366  ],
       [5.519056 ],
       [5.520559 ],
       [5.490036 ],
       [5.523039 ],
       [5.5251255],
       [5.5251503],
       [5.5137405],
       [5.523034 ],
       [5.5250373],
       [5.525748 ],
       [5.5186415],
       [5.5230074],
       [5.5231915],
       [5.5254307],
       [5.514139 ],
       [5.5173283],
       [5.5241456],
       [5.511215 ],
       [5.5246058],
       [5.521282 ],
       [5.525071 ],
       [5.525388 ],
       [5.521859 ],
       [5.523814 ],
       [5.522936 ],
       [5.523143 ],
       [5.5179386],
       [5.5252943],
       [5.524168 ],
       [5.517083 ],
       [5.525273 ],
       [5.5210543],
       [5.5115347],
       [5.526594 ],
       [5.516968 ],
       [5.517492 ],
       [5.5067415],
       [5.507246 ],
       [5.5075574],
       [5.523    ],
       [5.5223875],
       [5.5230336],
       [5.5009813],
       [5.521653 ],
       [5.5250807],
       [5.5244675],
       [5.5090256],
       [5.5243506],
       [5.5155363],
       [5.4946184],
       [5.525527 ],
       [5.521532 ],
       [5.5189877],
       [5.525278 ],
       [5.523447 ],
       [5.5241194],
       [5.5251646],
       [5.5268803],
       [5.5111046],
       [5.5258946],
       [5.5143976]], dtype=float32)

In [32]:
sess.close()

## Classification using tf.Keras

In this exercise, we will build a Deep Neural Network using tf.Keras. We will use Iris Dataset for this exercise.

### Load the given Iris data using pandas (Iris.csv)

In [33]:
iris = pd.read_csv('Iris.csv')
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [34]:
iris.drop("Id", axis=1, inplace=True)

In [35]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
SepalLengthCm    150 non-null float64
SepalWidthCm     150 non-null float64
PetalLengthCm    150 non-null float64
PetalWidthCm     150 non-null float64
Species          150 non-null object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

In [36]:
iris['Species'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

### Target set has different categories. So, Label encode them. And convert into one-hot vectors using get_dummies in pandas.

In [37]:
# pd.get_dummies(iris, columns=['Species'], drop_first = True)
dummy = pd.get_dummies(iris['Species'])
dummy.sample(10)

     Iris-setosa  Iris-versicolor  Iris-virginica
39             1                0               0
26             1                0               0
101            0                0               1
85             0                1               0
65             0                1               0
51             0                1               0
55             0                1               0
111            0                0               1
7              1                0               0
8              1                0               0

### Splitting the data into feature set and target set

In [38]:
X = iris.drop("Species", axis=1)
Y = dummy

In [39]:
X.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

In [40]:
Y.head()

   Iris-setosa  Iris-versicolor  Iris-virginica
0            1                0               0
1            1                0               0
2            1                0               0
3            1                0               0
4            1                0               0

###  Building Model in tf.keras

Build a Linear Classifier model  <br>
1.  Use Dense Layer  with input shape of 4 (according to the feature set) and number of outputs set to 3<br> 
2. Apply Softmax on Dense Layer outputs <br>
3. Use SGD as Optimizer
4. Use categorical_crossentropy as loss function

In [41]:
from keras.models import Sequential
from keras.layers import Dense

model = Sequential()
model.add(Dense(12, input_dim=4, activation='relu'))
model.add(Dense(3, activation='softmax'))
model.compile(loss='categorical_crossentropy', optimizer='sgd', metrics=['accuracy'])

Using TensorFlow backend.

### Model Training

In [42]:
model.fit(X, Y, epochs=100, batch_size=5)

WARNING:tensorflow:From D:\Softwares\anaconda3\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/100
150/150 [==============================] - 1s 6ms/step - loss: 1.2699 - acc: 0.3000
Epoch 2/100
150/150 [==============================] - 0s 580us/step - loss: 0.8670 - acc: 0.6200
Epoch 3/100
150/150 [==============================] - 0s 727us/step - loss: 0.7325 - acc: 0.8000
Epoch 4/100
150/150 [==============================] - 0s 793us/step - loss: 0.6516 - acc: 0.7933 0s - loss: 0.7025 - acc: 0.72
Epoch 5/100
150/150 [==============================] - 0s 1ms/step - loss: 0.5861 - acc: 0.8200
Epoch 6/100
150/150 [==============================] - 0s 567us/step - loss: 0.5411 - acc: 0.8733
Epoch 7/100
150/150 [==============================] - 0s 613us/step - loss: 0.4987 - acc: 0.8667
Epoch 8/100
150/150 [==============================] - 0s 607us/step - loss: 0.4760 - acc: 0.8667
Epoch 9/100
150/150 [==============================] - 0s 587us/step - loss: 0.4351 - acc: 0.8867
Epoch 10/100
150/150 [==============================] - 0s 633us/step - loss: 0.4089 - acc: 0.9067
Epoch 11/100
150/150 [==============================] - 0s 853us/step - loss: 0.3971 - acc: 0.8933
Epoch 12/100
150/150 [==============================] - 0s 953us/step - loss: 0.3783 - acc: 0.9133
Epoch 13/100
150/150 [==============================] - 0s 580us/step - loss: 0.3700 - acc: 0.9067
Epoch 14/100
150/150 [==============================] - 0s 667us/step - loss: 0.3721 - acc: 0.8800
Epoch 15/100
150/150 [==============================] - 0s 813us/step - loss: 0.3540 - acc: 0.9000
Epoch 16/100
150/150 [==============================] - ETA: 0s - loss: 0.3536 - acc: 0.893 - 0s 680us/step - loss: 0.3375 - acc: 0.9000
Epoch 17/100
150/150 [==============================] - 0s 560us/step - loss: 0.3162 - acc: 0.9467
Epoch 18/100
150/150 [==============================] - 0s 687us/step - loss: 0.3019 - acc: 0.9000
Epoch 19/100
150/150 [==============================] - 0s 740us/step - loss: 0.2811 - acc: 0.9467
Epoch 20/100
150/150 [==============================] - 0s 1ms/step - loss: 0.2940 - acc: 0.9200
Epoch 21/100
150/150 [==============================] - 0s 607us/step - loss: 0.2809 - acc: 0.9267
Epoch 22/100
150/150 [==============================] - 0s 607us/step - loss: 0.2661 - acc: 0.9400
Epoch 23/100
150/150 [==============================] - 0s 907us/step - loss: 0.2689 - acc: 0.9333
Epoch 24/100
150/150 [==============================] - 0s 533us/step - loss: 0.2527 - acc: 0.9333
Epoch 25/100
150/150 [==============================] - 0s 620us/step - loss: 0.2459 - acc: 0.9067
Epoch 26/100
150/150 [==============================] - 0s 873us/step - loss: 0.2413 - acc: 0.9400
Epoch 27/100
150/150 [==============================] - 0s 900us/step - loss: 0.2361 - acc: 0.9400
Epoch 28/100
150/150 [==============================] - 0s 560us/step - loss: 0.2335 - acc: 0.9400
Epoch 29/100
150/150 [==============================] - 0s 573us/step - loss: 0.2237 - acc: 0.9667
Epoch 30/100
150/150 [==============================] - 0s 827us/step - loss: 0.2181 - acc: 0.9333
Epoch 31/100
150/150 [==============================] - 0s 633us/step - loss: 0.2101 - acc: 0.9400
Epoch 32/100
150/150 [==============================] - 0s 627us/step - loss: 0.2095 - acc: 0.9467
Epoch 33/100
150/150 [==============================] - 0s 567us/step - loss: 0.1959 - acc: 0.9667
Epoch 34/100
150/150 [==============================] - 0s 587us/step - loss: 0.2004 - acc: 0.9400
Epoch 35/100
150/150 [==============================] - 0s 687us/step - loss: 0.1929 - acc: 0.9533
Epoch 36/100
150/150 [==============================] - 0s 540us/step - loss: 0.1937 - acc: 0.9533
Epoch 37/100
150/150 [==============================] - 0s 527us/step - loss: 0.1745 - acc: 0.9533
Epoch 38/100
150/150 [==============================] - 0s 527us/step - loss: 0.1892 - acc: 0.9267
Epoch 39/100
150/150 [==============================] - 0s 707us/step - loss: 0.1697 - acc: 0.9667
Epoch 40/100
150/150 [==============================] - 0s 667us/step - loss: 0.1693 - acc: 0.9467
Epoch 41/100
150/150 [==============================] - 0s 540us/step - loss: 0.1638 - acc: 0.9600
Epoch 42/100
150/150 [==============================] - 0s 600us/step - loss: 0.1821 - acc: 0.9333
Epoch 43/100
150/150 [==============================] - 0s 573us/step - loss: 0.1716 - acc: 0.9533
Epoch 44/100
150/150 [==============================] - 0s 687us/step - loss: 0.1577 - acc: 0.9600
Epoch 45/100
150/150 [==============================] - 0s 593us/step - loss: 0.1615 - acc: 0.9600
Epoch 46/100
150/150 [==============================] - 0s 687us/step - loss: 0.1687 - acc: 0.9533
Epoch 47/100
150/150 [==============================] - 0s 667us/step - loss: 0.1733 - acc: 0.9400
Epoch 48/100
150/150 [==============================] - 0s 467us/step - loss: 0.1562 - acc: 0.9467
Epoch 49/100
150/150 [==============================] - 0s 627us/step - loss: 0.1589 - acc: 0.9600
Epoch 50/100
150/150 [==============================] - 0s 627us/step - loss: 0.1554 - acc: 0.9533
Epoch 51/100
150/150 [==============================] - 0s 547us/step - loss: 0.1561 - acc: 0.9533
Epoch 52/100
150/150 [==============================] - 0s 560us/step - loss: 0.1371 - acc: 0.9733
Epoch 53/100
150/150 [==============================] - 0s 627us/step - loss: 0.1470 - acc: 0.9467
Epoch 54/100
150/150 [==============================] - 0s 573us/step - loss: 0.1431 - acc: 0.9733
Epoch 55/100
150/150 [==============================] - 0s 613us/step - loss: 0.1484 - acc: 0.9467
Epoch 56/100
150/150 [==============================] - 0s 893us/step - loss: 0.1462 - acc: 0.9467
Epoch 57/100
150/150 [==============================] - 0s 640us/step - loss: 0.1369 - acc: 0.9733
Epoch 58/100
150/150 [==============================] - 0s 473us/step - loss: 0.1430 - acc: 0.9600
Epoch 59/100
150/150 [==============================] - 0s 627us/step - loss: 0.1318 - acc: 0.9667
Epoch 60/100
150/150 [==============================] - 0s 740us/step - loss: 0.1337 - acc: 0.9533
Epoch 61/100
150/150 [==============================] - 0s 660us/step - loss: 0.1355 - acc: 0.9800
Epoch 62/100
150/150 [==============================] - 0s 640us/step - loss: 0.1367 - acc: 0.9600
Epoch 63/100
150/150 [==============================] - 0s 527us/step - loss: 0.1290 - acc: 0.9533
Epoch 64/100
150/150 [==============================] - 0s 640us/step - loss: 0.1272 - acc: 0.9667
Epoch 65/100
150/150 [==============================] - 0s 580us/step - loss: 0.1288 - acc: 0.9667
Epoch 66/100
150/150 [==============================] - 0s 680us/step - loss: 0.1273 - acc: 0.9533
Epoch 67/100
150/150 [==============================] - 0s 567us/step - loss: 0.1237 - acc: 0.9667
Epoch 68/100
150/150 [==============================] - 0s 540us/step - loss: 0.1239 - acc: 0.9600
Epoch 69/100
150/150 [==============================] - 0s 833us/step - loss: 0.1271 - acc: 0.9600
Epoch 70/100
150/150 [==============================] - 0s 540us/step - loss: 0.1669 - acc: 0.9333
Epoch 71/100
150/150 [==============================] - 0s 680us/step - loss: 0.1186 - acc: 0.9533
Epoch 72/100
150/150 [==============================] - 0s 687us/step - loss: 0.1108 - acc: 0.9667
Epoch 73/100
150/150 [==============================] - 0s 553us/step - loss: 0.1189 - acc: 0.9600
Epoch 74/100
150/150 [==============================] - 0s 560us/step - loss: 0.1152 - acc: 0.9600
Epoch 75/100
150/150 [==============================] - 0s 627us/step - loss: 0.1279 - acc: 0.9467
Epoch 76/100
150/150 [==============================] - 0s 740us/step - loss: 0.1146 - acc: 0.9667
Epoch 77/100
150/150 [==============================] - 0s 660us/step - loss: 0.1182 - acc: 0.9600
Epoch 78/100
150/150 [==============================] - 0s 507us/step - loss: 0.1133 - acc: 0.9600
Epoch 79/100
150/150 [==============================] - 0s 607us/step - loss: 0.1203 - acc: 0.9533
Epoch 80/100

150/150 [==============================] - 0s 673us/step - loss: 0.1221 - acc: 0.9667
Epoch 81/100
150/150 [==============================] - 0s 833us/step - loss: 0.1134 - acc: 0.9533
Epoch 82/100
150/150 [==============================] - 0s 613us/step - loss: 0.1187 - acc: 0.9533
Epoch 83/100
150/150 [==============================] - 0s 487us/step - loss: 0.1340 - acc: 0.9600
Epoch 84/100
150/150 [==============================] - 0s 527us/step - loss: 0.1071 - acc: 0.9600
Epoch 85/100
150/150 [==============================] - 0s 487us/step - loss: 0.1114 - acc: 0.9600
Epoch 86/100
150/150 [==============================] - 0s 493us/step - loss: 0.1035 - acc: 0.9600
Epoch 87/100
150/150 [==============================] - 0s 767us/step - loss: 0.1132 - acc: 0.9667
Epoch 88/100
150/150 [==============================] - 0s 540us/step - loss: 0.1231 - acc: 0.9533
Epoch 89/100
150/150 [==============================] - 0s 513us/step - loss: 0.1095 - acc: 0.9667
Epoch 90/100
150/150 [==============================] - 0s 527us/step - loss: 0.1065 - acc: 0.9800
Epoch 91/100
150/150 [==============================] - 0s 527us/step - loss: 0.1068 - acc: 0.9667
Epoch 92/100
150/150 [==============================] - 0s 540us/step - loss: 0.1097 - acc: 0.9600
Epoch 93/100
150/150 [==============================] - 0s 727us/step - loss: 0.1029 - acc: 0.9600
Epoch 94/100
150/150 [==============================] - 0s 527us/step - loss: 0.0992 - acc: 0.9800
Epoch 95/100
150/150 [==============================] - 0s 500us/step - loss: 0.1128 - acc: 0.9467
Epoch 96/100
150/150 [==============================] - 0s 527us/step - loss: 0.1058 - acc: 0.9667
Epoch 97/100
150/150 [==============================] - 0s 580us/step - loss: 0.0896 - acc: 0.9867
Epoch 98/100
150/150 [==============================] - 0s 547us/step - loss: 0.1029 - acc: 0.9600
Epoch 99/100
150/150 [==============================] - 0s 507us/step - loss: 0.1035 - acc: 0.9733
Epoch 100/100
150/150 [==============================] - 0s 520us/step - loss: 0.1109 - acc: 0.9600

### Model Prediction

In [44]:
scores = model.evaluate(X, Y)
scores[1]*100

150/150 [==============================] - 0s 60us/step

97.33333333333334

### Save the Model

In [ ]:
import pickle
pickle.dump(model, open("model.pkl","wb" , ))
#model = pickle.load(open("model.pkl", "rb"))
##"rb" : this means read mode

### Build and Train a Deep Neural network with 2 hidden layer  - Optional - For Practice

Does it perform better than Linear Classifier? What could be the reason for difference in performance?