## Linear Classifier in TensorFlow 
Using Low Level API in Eager Execution mode

### Load tensorflow

In [1]:
import tensorflow as tf

In [2]:
#Enable Eager Execution if using tensflow version < 2.0
#From tensorflow v2.0 onwards, Eager Execution will be enabled by default

### Collect Data

In [3]:
#from google.colab import drive
#drive.mount('/gdrive')

In [4]:
import pandas as pd

In [5]:
data = pd.read_csv('prices.csv')

### Check all columns in the dataset

In [6]:
data.head()

,date,symbol,open,close,low,high,volume
0,2016-01-05 00:00:00,WLTW,123.430000,125.839996,122.309998,126.250000,2163600.0
1,2016-01-06 00:00:00,WLTW,125.239998,119.980003,119.940002,125.540001,2386400.0
2,2016-01-07 00:00:00,WLTW,116.379997,114.949997,114.930000,119.739998,2489500.0
3,2016-01-08 00:00:00,WLTW,115.480003,116.620003,113.500000,117.440002,2006300.0
4,2016-01-11 00:00:00,WLTW,117.010002,114.970001,114.089996,117.330002,1408600.0

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 851264 entries, 0 to 851263
Data columns (total 7 columns):
date      851264 non-null object
symbol    851264 non-null object
open      851264 non-null float64
close     851264 non-null float64
low       851264 non-null float64
high      851264 non-null float64
volume    851264 non-null float64
dtypes: float64(5), object(2)
memory usage: 45.5+ MB

### Drop columns `date` and  `symbol`

In [8]:
data.drop("date", axis=1, inplace=True)
data.drop("symbol", axis=1, inplace=True)

In [9]:
data.head()

         open       close         low        high     volume
0  123.430000  125.839996  122.309998  126.250000  2163600.0
1  125.239998  119.980003  119.940002  125.540001  2386400.0
2  116.379997  114.949997  114.930000  119.739998  2489500.0
3  115.480003  116.620003  113.500000  117.440002  2006300.0
4  117.010002  114.970001  114.089996  117.330002  1408600.0

### Consider only first 1000 rows in the dataset for building feature set and target set
Target 'Volume' has very high values. Divide 'Volume' by 1000,000

In [10]:
df = data.head(1000)

In [11]:
X = df.drop("volume", axis=1)
Y = df["volume"]

In [12]:
X.head()

         open       close         low        high
0  123.430000  125.839996  122.309998  126.250000
1  125.239998  119.980003  119.940002  125.540001
2  116.379997  114.949997  114.930000  119.739998
3  115.480003  116.620003  113.500000  117.440002
4  117.010002  114.970001  114.089996  117.330002

In [13]:
Y.head()

0    2163600.0
1    2386400.0
2    2489500.0
3    2006300.0
4    1408600.0
Name: volume, dtype: float64

In [14]:
Y = Y.divide(1000000)

In [15]:
Y.head()

0    2.1636
1    2.3864
2    2.4895
3    2.0063
4    1.4086
Name: volume, dtype: float64

### Divide the data into train and test sets

In [16]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(X,Y,test_size=0.3,random_state=1)

#### Convert Training and Test Data to numpy float32 arrays

In [17]:
import numpy as np
x_train = np.array(xtrain, dtype="float32")
y_train = np.array(ytrain, dtype="float32")
x_test = np.array(xtest, dtype="float32")
y_test = np.array(ytest, dtype="float32")

In [18]:
x_train

array([[ 27.77   ,  27.65   ,  27.41   ,  27.84   ],
       [ 12.94   ,  13.33   ,  12.88   ,  13.37   ],
       [ 18.57   ,  18.89   ,  18.4    ,  18.97   ],
       ...,
       [627.18   , 623.99   , 621.54004, 627.83997],
       [125.19   , 123.     , 121.95   , 125.91   ],
       [113.04   , 113.32   , 111.65   , 115.36   ]], dtype=float32)

### Normalize the data
You can use Normalizer from sklearn.preprocessing

In [19]:
from sklearn.preprocessing import Normalizer
N = Normalizer()
x_train=N.fit_transform(x_train)
x_test=N.transform(x_test)

## Building the Model in tensorflow

1.Define Weights and Bias, use tf.zeros to initialize weights and Bias

In [20]:
W = tf.Variable(tf.random_normal(shape=[4,1]), name="Weights")
b = tf.Variable(tf.zeros(shape=[1]),name="Bias")

WARNING:tensorflow:From D:\Softwares\anaconda3\lib\site-packages\tensorflow\python\framework\op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [21]:
W

2.Define a function to calculate prediction

In [22]:
y_pred = tf.add(tf.matmul(x_train,W),b,name='output')

3.Loss (Cost) Function [Mean square error]

In [23]:
loss = tf.reduce_mean(tf.square(y_pred-y_train),name='mse')

4.Function to train the Model

1.   Record all the mathematical steps to calculate Loss
2.   Calculate Gradients of Loss w.r.t weights and bias
3.   Update Weights and Bias based on gradients and learning rate to minimize loss

In [24]:
train_gd = tf.train.GradientDescentOptimizer(0.03).minimize(loss)

## Train the model for 100 epochs 
1. Observe the training loss at every iteration
2. Observe Train loss at every 5th iteration

In [25]:
x = tf.placeholder(shape=[None,4], dtype=tf.float32)  # x place holder
y = tf.placeholder(shape=[None], dtype=tf.float32) # y place holder

In [26]:
sess = tf.Session()
sess.run(tf.global_variables_initializer())
training_epochs = 100
for epoch in range(training_epochs):
    _, train_loss = sess.run([train_gd,loss],feed_dict={x:x_train, y:y_train})  
    print ('Training loss at every step: ', epoch, ' is ', train_loss)

Training loss at every step:  0  is  232.58478
Training loss at every step:  1  is  224.19688
Training loss at every step:  2  is  217.70125
Training loss at every step:  3  is  212.67102
Training loss at every step:  4  is  208.77553
Training loss at every step:  5  is  205.7589
Training loss at every step:  6  is  203.42279
Training loss at every step:  7  is  201.61365
Training loss at every step:  8  is  200.21269
Training loss at every step:  9  is  199.12776
Training loss at every step:  10  is  198.2876
Training loss at every step:  11  is  197.63696
Training loss at every step:  12  is  197.13313
Training loss at every step:  13  is  196.74292
Training loss at every step:  14  is  196.44075
Training loss at every step:  15  is  196.20674
Training loss at every step:  16  is  196.02559
Training loss at every step:  17  is  195.88524
Training loss at every step:  18  is  195.77658
Training loss at every step:  19  is  195.69238
Training loss at every step:  20  is  195.62726
Training loss at every step:  21  is  195.57678
Training loss at every step:  22  is  195.53766
Training loss at every step:  23  is  195.50743
Training loss at every step:  24  is  195.48396
Training loss at every step:  25  is  195.46585
Training loss at every step:  26  is  195.45175
Training loss at every step:  27  is  195.44089
Training loss at every step:  28  is  195.43248
Training loss at every step:  29  is  195.4259
Training loss at every step:  30  is  195.42087
Training loss at every step:  31  is  195.41695
Training loss at every step:  32  is  195.41394
Training loss at every step:  33  is  195.41158
Training loss at every step:  34  is  195.40977
Training loss at every step:  35  is  195.40834
Training loss at every step:  36  is  195.40727
Training loss at every step:  37  is  195.40643
Training loss at every step:  38  is  195.40578
Training loss at every step:  39  is  195.4053
Training loss at every step:  40  is  195.40488
Training loss at every step:  41  is  195.40454
Training loss at every step:  42  is  195.40431
Training loss at every step:  43  is  195.40416
Training loss at every step:  44  is  195.40402
Training loss at every step:  45  is  195.40392
Training loss at every step:  46  is  195.40382
Training loss at every step:  47  is  195.40378
Training loss at every step:  48  is  195.40372
Training loss at every step:  49  is  195.40369
Training loss at every step:  50  is  195.40366
Training loss at every step:  51  is  195.40361
Training loss at every step:  52  is  195.4036
Training loss at every step:  53  is  195.40356
Training loss at every step:  54  is  195.40356
Training loss at every step:  55  is  195.40355
Training loss at every step:  56  is  195.40353
Training loss at every step:  57  is  195.40353
Training loss at every step:  58  is  195.40353
Training loss at every step:  59  is  195.4035
Training loss at every step:  60  is  195.40353
Training loss at every step:  61  is  195.40353
Training loss at every step:  62  is  195.40353
Training loss at every step:  63  is  195.40353
Training loss at every step:  64  is  195.40353
Training loss at every step:  65  is  195.40353
Training loss at every step:  66  is  195.40353
Training loss at every step:  67  is  195.40353
Training loss at every step:  68  is  195.40353
Training loss at every step:  69  is  195.40353
Training loss at every step:  70  is  195.40353
Training loss at every step:  71  is  195.40353
Training loss at every step:  72  is  195.40353
Training loss at every step:  73  is  195.40353
Training loss at every step:  74  is  195.40353
Training loss at every step:  75  is  195.40353
Training loss at every step:  76  is  195.40353
Training loss at every step:  77  is  195.40353
Training loss at every step:  78  is  195.40353
Training loss at every step:  79  is  195.40353
Training loss at every step:  80  is  195.40353
Training loss at every step:  81  is  195.40353
Training loss at every step:  82  is  195.40353
Training loss at every step:  83  is  195.40353
Training loss at every step:  84  is  195.40353
Training loss at every step:  85  is  195.40353
Training loss at every step:  86  is  195.40353
Training loss at every step:  87  is  195.40353
Training loss at every step:  88  is  195.40353
Training loss at every step:  89  is  195.40353
Training loss at every step:  90  is  195.40353
Training loss at every step:  91  is  195.40353
Training loss at every step:  92  is  195.40353
Training loss at every step:  93  is  195.40353
Training loss at every step:  94  is  195.40353
Training loss at every step:  95  is  195.40353
Training loss at every step:  96  is  195.40353
Training loss at every step:  97  is  195.40353
Training loss at every step:  98  is  195.40353
Training loss at every step:  99  is  195.40353

In [27]:
sess = tf.Session()
sess.run(tf.global_variables_initializer())
training_epochs = 100
for epoch in range(training_epochs):
    _, train_loss = sess.run([train_gd,loss],feed_dict={x:x_train, y:y_train})  
    if epoch % 5 == 0:
        print ('Training loss at step: ', epoch, ' is ', train_loss)

Training loss at step:  0  is  227.21277
Training loss at step:  5  is  204.26273
Training loss at step:  10  is  197.8709
Training loss at step:  15  is  196.09073
Training loss at step:  20  is  195.59491
Training loss at step:  25  is  195.45682
Training loss at step:  30  is  195.41838
Training loss at step:  35  is  195.40764
Training loss at step:  40  is  195.40468
Training loss at step:  45  is  195.40387
Training loss at step:  50  is  195.40363
Training loss at step:  55  is  195.40353
Training loss at step:  60  is  195.40353
Training loss at step:  65  is  195.40349
Training loss at step:  70  is  195.4035
Training loss at step:  75  is  195.40353
Training loss at step:  80  is  195.40353
Training loss at step:  85  is  195.40353
Training loss at step:  90  is  195.40353
Training loss at step:  95  is  195.40353

### Get the shapes and values of W and b

In [28]:
sess.run(W)

array([[1.7653917],
       [0.9126457],
       [0.876212 ],
       [1.8377709]], dtype=float32)

In [29]:
sess.run(b)

array([2.8200471], dtype=float32)

### Model Prediction on 1st Examples in Test Dataset

In [30]:
y_test_pred = tf.add(tf.matmul(x_test,W),b,name='output')

In [31]:
sess.run(y_test_pred)

array([[5.52069  ],
       [5.5178475],
       [5.5181646],
       [5.5187426],
       [5.517969 ],
       [5.5172753],
       [5.516909 ],
       [5.520095 ],
       [5.52391  ],
       [5.5191813],
       [5.518934 ],
       [5.518276 ],
       [5.518308 ],
       [5.5182056],
       [5.5279427],
       [5.523489 ],
       [5.519987 ],
       [5.5317373],
       [5.5210533],
       [5.5263186],
       [5.5185623],
       [5.5186005],
       [5.518197 ],
       [5.522723 ],
       [5.517437 ],
       [5.533416 ],
       [5.517453 ],
       [5.5202055],
       [5.5232716],
       [5.5252967],
       [5.518528 ],
       [5.5212584],
       [5.526249 ],
       [5.519371 ],
       [5.527028 ],
       [5.5175714],
       [5.5193944],
       [5.518876 ],
       [5.5203047],
       [5.520211 ],
       [5.5205383],
       [5.5193815],
       [5.5244055],
       [5.519621 ],
       [5.5202456],
       [5.5225983],
       [5.5184803],
       [5.5188503],
       [5.523817 ],
       [5.5166206],
       [5.518507 ],
       [5.5202093],
       [5.5194545],
       [5.518305 ],
       [5.528529 ],
       [5.524455 ],
       [5.523801 ],
       [5.521449 ],
       [5.517371 ],
       [5.52425  ],
       [5.519087 ],
       [5.525596 ],
       [5.5192804],
       [5.5247498],
       [5.5199766],
       [5.521799 ],
       [5.5202875],
       [5.519663 ],
       [5.5174494],
       [5.519932 ],
       [5.5193944],
       [5.521246 ],
       [5.519506 ],
       [5.5202827],
       [5.5191765],
       [5.523756 ],
       [5.518363 ],
       [5.5167217],
       [5.522335 ],
       [5.523711 ],
       [5.5182   ],
       [5.517524 ],
       [5.518792 ],
       [5.520772 ],
       [5.517848 ],
       [5.528118 ],
       [5.519825 ],
       [5.5183945],
       [5.518676 ],
       [5.5184655],
       [5.5198708],
       [5.5196133],
       [5.5193195],
       [5.5271635],
       [5.5198526],
       [5.5283422],
       [5.516444 ],
       [5.519032 ],
       [5.5176954],
       [5.5185695],
       [5.517401 ],
       [5.52808  ],
       [5.5208206],
       [5.51753  ],
       [5.523467 ],
       [5.5196075],
       [5.51845  ],
       [5.517412 ],
       [5.5177736],
       [5.5194573],
       [5.5182047],
       [5.5193114],
       [5.5185013],
       [5.5192356],
       [5.5204916],
       [5.5209346],
       [5.51982  ],
       [5.5215597],
       [5.5247965],
       [5.5199537],
       [5.518015 ],
       [5.519001 ],
       [5.5218744],
       [5.5248957],
       [5.5191   ],
       [5.520429 ],
       [5.524848 ],
       [5.519503 ],
       [5.5213604],
       [5.5234795],
       [5.518338 ],
       [5.523937 ],
       [5.521219 ],
       [5.528344 ],
       [5.5192165],
       [5.519067 ],
       [5.51717  ],
       [5.52131  ],
       [5.518464 ],
       [5.517274 ],
       [5.5167446],
       [5.520048 ],
       [5.5205564],
       [5.5167484],
       [5.519001 ],
       [5.5196447],
       [5.5206413],
       [5.5198107],
       [5.535578 ],
       [5.5188713],
       [5.518202 ],
       [5.533235 ],
       [5.5237594],
       [5.518174 ],
       [5.5231895],
       [5.519186 ],
       [5.518421 ],
       [5.518489 ],
       [5.5173383],
       [5.518647 ],
       [5.519158 ],
       [5.51904  ],
       [5.5166616],
       [5.520032 ],
       [5.5175257],
       [5.516448 ],
       [5.5200977],
       [5.517797 ],
       [5.518001 ],
       [5.518726 ],
       [5.517585 ],
       [5.5188465],
       [5.5189877],
       [5.521221 ],
       [5.521756 ],
       [5.520339 ],
       [5.51861  ],
       [5.5278387],
       [5.518486 ],
       [5.5185766],
       [5.519739 ],
       [5.520113 ],
       [5.5190873],
       [5.5197353],
       [5.519266 ],
       [5.5167904],
       [5.5184345],
       [5.521799 ],
       [5.5203934],
       [5.5166416],
       [5.5178394],
       [5.5177946],
       [5.517125 ],
       [5.5169754],
       [5.517948 ],
       [5.522551 ],
       [5.5222044],
       [5.517599 ],
       [5.521043 ],
       [5.520608 ],
       [5.5193906],
       [5.525236 ],
       [5.52121  ],
       [5.5204315],
       [5.5418205],
       [5.521126 ],
       [5.529682 ],
       [5.526018 ],
       [5.518608 ],
       [5.520261 ],
       [5.519516 ],
       [5.519806 ],
       [5.5249157],
       [5.525819 ],
       [5.5228033],
       [5.5209403],
       [5.5197268],
       [5.519992 ],
       [5.5204487],
       [5.5192356],
       [5.5177336],
       [5.5203733],
       [5.5209327],
       [5.520902 ],
       [5.5180273],
       [5.522541 ],
       [5.518524 ],
       [5.5182333],
       [5.5191345],
       [5.5210056],
       [5.5185556],
       [5.520806 ],
       [5.5238605],
       [5.5261374],
       [5.5194426],
       [5.5196495],
       [5.5235767],
       [5.51926  ],
       [5.5191183],
       [5.5217276],
       [5.5217   ],
       [5.5370345],
       [5.5189657],
       [5.5180006],
       [5.518385 ],
       [5.5242825],
       [5.5178213],
       [5.5181346],
       [5.5175905],
       [5.5205693],
       [5.5195837],
       [5.519    ],
       [5.5171547],
       [5.523146 ],
       [5.522784 ],
       [5.51884  ],
       [5.5254507],
       [5.5185523],
       [5.5196285],
       [5.518029 ],
       [5.5170565],
       [5.5196905],
       [5.5176764],
       [5.519268 ],
       [5.518319 ],
       [5.5210047],
       [5.517732 ],
       [5.5192595],
       [5.5217133],
       [5.5177717],
       [5.5199814],
       [5.52602  ],
       [5.5176525],
       [5.5219088],
       [5.522176 ],
       [5.528142 ],
       [5.528267 ],
       [5.5278797],
       [5.5182753],
       [5.519415 ],
       [5.518526 ],
       [5.5321007],
       [5.519625 ],
       [5.518302 ],
       [5.5184336],
       [5.525077 ],
       [5.518964 ],
       [5.523185 ],
       [5.534477 ],
       [5.5173283],
       [5.5199976],
       [5.521617 ],
       [5.5178747],
       [5.519286 ],
       [5.5180006],
       [5.5175333],
       [5.5168743],
       [5.525538 ],
       [5.5175095],
       [5.5244236]], dtype=float32)

In [32]:
sess.close()

## Classification using tf.Keras

In this exercise, we will build a Deep Neural Network using tf.Keras. We will use Iris Dataset for this exercise.

### Load the given Iris data using pandas (Iris.csv)

In [33]:
iris = pd.read_csv('Iris.csv')
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [34]:
iris.drop("Id", axis=1, inplace=True)

In [35]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
SepalLengthCm    150 non-null float64
SepalWidthCm     150 non-null float64
PetalLengthCm    150 non-null float64
PetalWidthCm     150 non-null float64
Species          150 non-null object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

In [36]:
iris['Species'].value_counts()

Iris-versicolor    50
Iris-setosa        50
Iris-virginica     50
Name: Species, dtype: int64

### Target set has different categories. So, Label encode them. And convert into one-hot vectors using get_dummies in pandas.

In [37]:
# pd.get_dummies(iris, columns=['Species'], drop_first = True)
dummy = pd.get_dummies(iris['Species'])
dummy.sample(10)

     Iris-setosa  Iris-versicolor  Iris-virginica
40             1                0               0
88             0                1               0
19             1                0               0
42             1                0               0
21             1                0               0
14             1                0               0
51             0                1               0
15             1                0               0
11             1                0               0
103            0                0               1

### Splitting the data into feature set and target set

In [38]:
X = iris.drop("Species", axis=1)
Y = dummy

In [39]:
X.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

In [40]:
Y.head()

   Iris-setosa  Iris-versicolor  Iris-virginica
0            1                0               0
1            1                0               0
2            1                0               0
3            1                0               0
4            1                0               0

###  Building Model in tf.keras

Build a Linear Classifier model  <br>
1.  Use Dense Layer  with input shape of 4 (according to the feature set) and number of outputs set to 3<br> 
2. Apply Softmax on Dense Layer outputs <br>
3. Use SGD as Optimizer
4. Use categorical_crossentropy as loss function

In [41]:
from keras.models import Sequential
from keras.layers import Dense

model = Sequential()
model.add(Dense(12, input_dim=4, activation='relu'))
model.add(Dense(3, activation='softmax'))
model.compile(loss='categorical_crossentropy', optimizer='sgd', metrics=['accuracy'])

Using TensorFlow backend.

### Model Training

In [42]:
model.fit(X, Y, epochs=100, batch_size=5)

WARNING:tensorflow:From D:\Softwares\anaconda3\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/100
150/150 [==============================] - 1s 6ms/step - loss: 0.9676 - acc: 0.6400
Epoch 2/100
150/150 [==============================] - 0s 1ms/step - loss: 0.6705 - acc: 0.8133
Epoch 3/100
150/150 [==============================] - 0s 667us/step - loss: 0.5757 - acc: 0.8800
Epoch 4/100
150/150 [==============================] - 0s 767us/step - loss: 0.5368 - acc: 0.8667
Epoch 5/100
150/150 [==============================] - 0s 683us/step - loss: 0.4831 - acc: 0.8400
Epoch 6/100
150/150 [==============================] - 0s 717us/step - loss: 0.4642 - acc: 0.8333
Epoch 7/100
150/150 [==============================] - 0s 650us/step - loss: 0.4267 - acc: 0.8933
Epoch 8/100
150/150 [==============================] - 0s 983us/step - loss: 0.3941 - acc: 0.8867
Epoch 9/100
150/150 [==============================] - 0s 600us/step - loss: 0.3965 - acc: 0.8600
Epoch 10/100
150/150 [==============================] - 0s 650us/step - loss: 0.3567 - acc: 0.9267
Epoch 11/100
150/150 [==============================] - 0s 783us/step - loss: 0.3406 - acc: 0.9533
Epoch 12/100
150/150 [==============================] - 0s 567us/step - loss: 0.3407 - acc: 0.8867
Epoch 13/100
150/150 [==============================] - 0s 900us/step - loss: 0.3192 - acc: 0.9000
Epoch 14/100
150/150 [==============================] - 0s 550us/step - loss: 0.2899 - acc: 0.9333
Epoch 15/100
150/150 [==============================] - 0s 600us/step - loss: 0.2856 - acc: 0.9400
Epoch 16/100
150/150 [==============================] - 0s 833us/step - loss: 0.2841 - acc: 0.9200
Epoch 17/100
150/150 [==============================] - 0s 783us/step - loss: 0.2680 - acc: 0.9467
Epoch 18/100
150/150 [==============================] - 0s 500us/step - loss: 0.2708 - acc: 0.9333
Epoch 19/100
150/150 [==============================] - 0s 550us/step - loss: 0.2549 - acc: 0.9267
Epoch 20/100
150/150 [==============================] - 0s 600us/step - loss: 0.2393 - acc: 0.9467
Epoch 21/100
150/150 [==============================] - 0s 767us/step - loss: 0.2526 - acc: 0.9267
Epoch 22/100
150/150 [==============================] - 0s 583us/step - loss: 0.2391 - acc: 0.9333
Epoch 23/100
150/150 [==============================] - 0s 833us/step - loss: 0.2179 - acc: 0.9533
Epoch 24/100
150/150 [==============================] - 0s 650us/step - loss: 0.2183 - acc: 0.9600
Epoch 25/100
150/150 [==============================] - 0s 500us/step - loss: 0.2134 - acc: 0.9533
Epoch 26/100
150/150 [==============================] - 0s 583us/step - loss: 0.2037 - acc: 0.9533
Epoch 27/100
150/150 [==============================] - 0s 667us/step - loss: 0.1965 - acc: 0.9467
Epoch 28/100
150/150 [==============================] - 0s 667us/step - loss: 0.2097 - acc: 0.9467
Epoch 29/100
150/150 [==============================] - 0s 667us/step - loss: 0.1864 - acc: 0.9600
Epoch 30/100
150/150 [==============================] - 0s 517us/step - loss: 0.1912 - acc: 0.9600
Epoch 31/100
150/150 [==============================] - 0s 517us/step - loss: 0.1740 - acc: 0.9667
Epoch 32/100
150/150 [==============================] - 0s 567us/step - loss: 0.1855 - acc: 0.9600
Epoch 33/100
150/150 [==============================] - 0s 533us/step - loss: 0.1759 - acc: 0.9600
Epoch 34/100
150/150 [==============================] - 0s 467us/step - loss: 0.1780 - acc: 0.9400
Epoch 35/100
150/150 [==============================] - 0s 550us/step - loss: 0.1627 - acc: 0.9667
Epoch 36/100
150/150 [==============================] - 0s 550us/step - loss: 0.1656 - acc: 0.9600
Epoch 37/100
150/150 [==============================] - 0s 583us/step - loss: 0.1732 - acc: 0.9400
Epoch 38/100
150/150 [==============================] - 0s 650us/step - loss: 0.1686 - acc: 0.9400
Epoch 39/100
150/150 [==============================] - 0s 500us/step - loss: 0.1616 - acc: 0.9467
Epoch 40/100
150/150 [==============================] - 0s 550us/step - loss: 0.1532 - acc: 0.9667
Epoch 41/100
150/150 [==============================] - 0s 500us/step - loss: 0.1555 - acc: 0.9533
Epoch 42/100
150/150 [==============================] - 0s 500us/step - loss: 0.1478 - acc: 0.9733
Epoch 43/100
150/150 [==============================] - 0s 600us/step - loss: 0.1438 - acc: 0.9600
Epoch 44/100
150/150 [==============================] - 0s 517us/step - loss: 0.1625 - acc: 0.9600
Epoch 45/100
150/150 [==============================] - 0s 750us/step - loss: 0.1396 - acc: 0.9667
Epoch 46/100
150/150 [==============================] - 0s 517us/step - loss: 0.1396 - acc: 0.9733
Epoch 47/100
150/150 [==============================] - 0s 600us/step - loss: 0.1207 - acc: 0.9800
Epoch 48/100
150/150 [==============================] - 0s 467us/step - loss: 0.1494 - acc: 0.9533
Epoch 49/100
150/150 [==============================] - 0s 467us/step - loss: 0.1211 - acc: 0.9667
Epoch 50/100
150/150 [==============================] - 0s 517us/step - loss: 0.1504 - acc: 0.9533
Epoch 51/100
150/150 [==============================] - 0s 483us/step - loss: 0.1492 - acc: 0.9400
Epoch 52/100
150/150 [==============================] - 0s 483us/step - loss: 0.1477 - acc: 0.9667
Epoch 53/100
150/150 [==============================] - 0s 567us/step - loss: 0.1333 - acc: 0.9533
Epoch 54/100
150/150 [==============================] - 0s 500us/step - loss: 0.1413 - acc: 0.9533
Epoch 55/100
150/150 [==============================] - 0s 600us/step - loss: 0.1332 - acc: 0.9533
Epoch 56/100
150/150 [==============================] - 0s 483us/step - loss: 0.1260 - acc: 0.9800
Epoch 57/100
150/150 [==============================] - 0s 533us/step - loss: 0.1295 - acc: 0.9600
Epoch 58/100
150/150 [==============================] - 0s 583us/step - loss: 0.1334 - acc: 0.9600
Epoch 59/100
150/150 [==============================] - 0s 483us/step - loss: 0.1191 - acc: 0.9667
Epoch 60/100
150/150 [==============================] - 0s 683us/step - loss: 0.1250 - acc: 0.9667
Epoch 61/100
150/150 [==============================] - 0s 867us/step - loss: 0.1450 - acc: 0.9467
Epoch 62/100
150/150 [==============================] - 0s 533us/step - loss: 0.1368 - acc: 0.9400
Epoch 63/100
150/150 [==============================] - 0s 417us/step - loss: 0.1269 - acc: 0.9600
Epoch 64/100
150/150 [==============================] - 0s 600us/step - loss: 0.1259 - acc: 0.9600
Epoch 65/100
150/150 [==============================] - 0s 567us/step - loss: 0.1183 - acc: 0.9667
Epoch 66/100
150/150 [==============================] - 0s 417us/step - loss: 0.1188 - acc: 0.9600
Epoch 67/100
150/150 [==============================] - 0s 550us/step - loss: 0.1124 - acc: 0.9600
Epoch 68/100
150/150 [==============================] - 0s 450us/step - loss: 0.1243 - acc: 0.9467
Epoch 69/100
150/150 [==============================] - 0s 433us/step - loss: 0.1137 - acc: 0.9733
Epoch 70/100
150/150 [==============================] - 0s 467us/step - loss: 0.1065 - acc: 0.9800
Epoch 71/100
150/150 [==============================] - 0s 683us/step - loss: 0.1157 - acc: 0.9667
Epoch 72/100
150/150 [==============================] - 0s 650us/step - loss: 0.1234 - acc: 0.9600
Epoch 73/100
150/150 [==============================] - 0s 550us/step - loss: 0.1203 - acc: 0.9600
Epoch 74/100
150/150 [==============================] - 0s 467us/step - loss: 0.1189 - acc: 0.9733
Epoch 75/100
150/150 [==============================] - 0s 533us/step - loss: 0.1019 - acc: 0.9667
Epoch 76/100
150/150 [==============================] - 0s 483us/step - loss: 0.1114 - acc: 0.9533
Epoch 77/100
150/150 [==============================] - 0s 467us/step - loss: 0.1078 - acc: 0.9533
Epoch 78/100
150/150 [==============================] - 0s 533us/step - loss: 0.1232 - acc: 0.9600
Epoch 79/100
150/150 [==============================] - 0s 467us/step - loss: 0.1140 - acc: 0.9600
Epoch 80/100
150/150 [==============================] - 0s 500us/step - loss: 0.1269 - acc: 0.9400
Epoch 81/100

150/150 [==============================] - 0s 467us/step - loss: 0.1177 - acc: 0.9667
Epoch 82/100
150/150 [==============================] - 0s 450us/step - loss: 0.1133 - acc: 0.9667
Epoch 83/100
150/150 [==============================] - 0s 567us/step - loss: 0.1150 - acc: 0.9667
Epoch 84/100
150/150 [==============================] - 0s 850us/step - loss: 0.1133 - acc: 0.9600
Epoch 85/100
150/150 [==============================] - 0s 567us/step - loss: 0.1010 - acc: 0.9800
Epoch 86/100
150/150 [==============================] - 0s 517us/step - loss: 0.1202 - acc: 0.9600
Epoch 87/100
150/150 [==============================] - 0s 467us/step - loss: 0.1217 - acc: 0.9533
Epoch 88/100
150/150 [==============================] - 0s 533us/step - loss: 0.1095 - acc: 0.9600
Epoch 89/100
150/150 [==============================] - 0s 567us/step - loss: 0.1201 - acc: 0.9467
Epoch 90/100
150/150 [==============================] - 0s 467us/step - loss: 0.0989 - acc: 0.9733
Epoch 91/100
150/150 [==============================] - 0s 917us/step - loss: 0.1006 - acc: 0.9667
Epoch 92/100
150/150 [==============================] - 0s 667us/step - loss: 0.1071 - acc: 0.9667
Epoch 93/100
150/150 [==============================] - 0s 533us/step - loss: 0.1051 - acc: 0.9600
Epoch 94/100
150/150 [==============================] - 0s 483us/step - loss: 0.1056 - acc: 0.9667
Epoch 95/100
150/150 [==============================] - 0s 483us/step - loss: 0.0899 - acc: 0.9800
Epoch 96/100
150/150 [==============================] - 0s 483us/step - loss: 0.0982 - acc: 0.9667
Epoch 97/100
150/150 [==============================] - 0s 667us/step - loss: 0.0939 - acc: 0.9600
Epoch 98/100
150/150 [==============================] - 0s 567us/step - loss: 0.1003 - acc: 0.9733
Epoch 99/100
150/150 [==============================] - 0s 500us/step - loss: 0.1159 - acc: 0.9533
Epoch 100/100
150/150 [==============================] - 0s 583us/step - loss: 0.0953 - acc: 0.9600

### Model Prediction

In [43]:
scores = model.evaluate(X, Y)
scores[1]*100

150/150 [==============================] - 0s 1ms/step

96.66666666666667

In [44]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.30, random_state=5)

In [45]:
model.fit(x_train, y_train, validation_data=(x_test,y_test), epochs=100)

Train on 105 samples, validate on 45 samples
Epoch 1/100
105/105 [==============================] - 0s 262us/step - loss: 0.0839 - acc: 0.9810 - val_loss: 0.0939 - val_acc: 0.9556
Epoch 2/100
105/105 [==============================] - 0s 190us/step - loss: 0.0831 - acc: 0.9905 - val_loss: 0.1067 - val_acc: 0.9333
Epoch 3/100
105/105 [==============================] - 0s 190us/step - loss: 0.0858 - acc: 0.9810 - val_loss: 0.1066 - val_acc: 0.9333
Epoch 4/100
105/105 [==============================] - 0s 143us/step - loss: 0.0823 - acc: 0.9810 - val_loss: 0.0964 - val_acc: 0.9556
Epoch 5/100
105/105 [==============================] - 0s 333us/step - loss: 0.0808 - acc: 0.9905 - val_loss: 0.0815 - val_acc: 0.9778
Epoch 6/100
105/105 [==============================] - 0s 167us/step - loss: 0.0823 - acc: 0.9905 - val_loss: 0.1081 - val_acc: 0.9333
Epoch 7/100
105/105 [==============================] - 0s 167us/step - loss: 0.0863 - acc: 0.9810 - val_loss: 0.0936 - val_acc: 0.9556
Epoch 8/100
105/105 [==============================] - 0s 143us/step - loss: 0.0838 - acc: 0.9905 - val_loss: 0.0924 - val_acc: 0.9556
Epoch 9/100
105/105 [==============================] - 0s 310us/step - loss: 0.0810 - acc: 0.9905 - val_loss: 0.1144 - val_acc: 0.9333
Epoch 10/100
105/105 [==============================] - 0s 143us/step - loss: 0.0836 - acc: 0.9905 - val_loss: 0.1250 - val_acc: 0.9333
Epoch 11/100
105/105 [==============================] - 0s 143us/step - loss: 0.0881 - acc: 0.9905 - val_loss: 0.1148 - val_acc: 0.9333
Epoch 12/100
105/105 [==============================] - 0s 333us/step - loss: 0.0820 - acc: 0.9810 - val_loss: 0.0990 - val_acc: 0.9556
Epoch 13/100
105/105 [==============================] - 0s 286us/step - loss: 0.0819 - acc: 0.9810 - val_loss: 0.0928 - val_acc: 0.9556
Epoch 14/100
105/105 [==============================] - 0s 143us/step - loss: 0.0801 - acc: 0.9905 - val_loss: 0.0899 - val_acc: 0.9556
Epoch 15/100
105/105 [==============================] - 0s 167us/step - loss: 0.0800 - acc: 0.9905 - val_loss: 0.0993 - val_acc: 0.9556
Epoch 16/100
105/105 [==============================] - 0s 143us/step - loss: 0.0862 - acc: 0.9905 - val_loss: 0.0919 - val_acc: 0.9556
Epoch 17/100
105/105 [==============================] - 0s 429us/step - loss: 0.0865 - acc: 0.9810 - val_loss: 0.0869 - val_acc: 0.9556
Epoch 18/100
105/105 [==============================] - 0s 167us/step - loss: 0.0808 - acc: 0.9905 - val_loss: 0.0905 - val_acc: 0.9556
Epoch 19/100
105/105 [==============================] - 0s 167us/step - loss: 0.0831 - acc: 0.9905 - val_loss: 0.0999 - val_acc: 0.9556
Epoch 20/100
105/105 [==============================] - 0s 214us/step - loss: 0.0801 - acc: 0.9810 - val_loss: 0.0994 - val_acc: 0.9556
Epoch 21/100
105/105 [==============================] - 0s 310us/step - loss: 0.0806 - acc: 0.9905 - val_loss: 0.0934 - val_acc: 0.9556
Epoch 22/100
105/105 [==============================] - 0s 167us/step - loss: 0.0814 - acc: 0.9905 - val_loss: 0.1133 - val_acc: 0.9333
Epoch 23/100
105/105 [==============================] - 0s 119us/step - loss: 0.0813 - acc: 0.9810 - val_loss: 0.0995 - val_acc: 0.9556
Epoch 24/100
105/105 [==============================] - 0s 143us/step - loss: 0.0856 - acc: 0.9905 - val_loss: 0.1125 - val_acc: 0.9333
Epoch 25/100
105/105 [==============================] - 0s 143us/step - loss: 0.0839 - acc: 0.9810 - val_loss: 0.1063 - val_acc: 0.9333
Epoch 26/100
105/105 [==============================] - 0s 143us/step - loss: 0.0815 - acc: 0.9810 - val_loss: 0.1098 - val_acc: 0.9333
Epoch 27/100
105/105 [==============================] - 0s 143us/step - loss: 0.0823 - acc: 0.9810 - val_loss: 0.0975 - val_acc: 0.9556
Epoch 28/100
105/105 [==============================] - 0s 167us/step - loss: 0.0823 - acc: 0.9810 - val_loss: 0.0879 - val_acc: 0.9556
Epoch 29/100
105/105 [==============================] - 0s 143us/step - loss: 0.0818 - acc: 0.9905 - val_loss: 0.0952 - val_acc: 0.9556
Epoch 30/100
105/105 [==============================] - 0s 333us/step - loss: 0.0796 - acc: 0.9905 - val_loss: 0.0897 - val_acc: 0.9556
Epoch 31/100
105/105 [==============================] - 0s 190us/step - loss: 0.0858 - acc: 0.9905 - val_loss: 0.1097 - val_acc: 0.9333
Epoch 32/100
105/105 [==============================] - 0s 143us/step - loss: 0.0830 - acc: 0.9810 - val_loss: 0.0964 - val_acc: 0.9556
Epoch 33/100
105/105 [==============================] - 0s 167us/step - loss: 0.0799 - acc: 0.9905 - val_loss: 0.0954 - val_acc: 0.9556
Epoch 34/100
105/105 [==============================] - 0s 143us/step - loss: 0.0799 - acc: 0.9905 - val_loss: 0.1022 - val_acc: 0.9556
Epoch 35/100
105/105 [==============================] - 0s 214us/step - loss: 0.0820 - acc: 0.9905 - val_loss: 0.0847 - val_acc: 0.9556
Epoch 36/100
105/105 [==============================] - 0s 357us/step - loss: 0.0820 - acc: 0.9905 - val_loss: 0.1214 - val_acc: 0.9333
Epoch 37/100
105/105 [==============================] - 0s 167us/step - loss: 0.0822 - acc: 0.9810 - val_loss: 0.1105 - val_acc: 0.9333
Epoch 38/100
105/105 [==============================] - 0s 143us/step - loss: 0.0813 - acc: 0.9905 - val_loss: 0.1093 - val_acc: 0.9333
Epoch 39/100
105/105 [==============================] - 0s 238us/step - loss: 0.0855 - acc: 0.9810 - val_loss: 0.1082 - val_acc: 0.9333
Epoch 40/100
105/105 [==============================] - 0s 167us/step - loss: 0.0807 - acc: 0.9810 - val_loss: 0.0933 - val_acc: 0.9556
Epoch 41/100
105/105 [==============================] - 0s 167us/step - loss: 0.0803 - acc: 0.9905 - val_loss: 0.0803 - val_acc: 0.9778
Epoch 42/100
105/105 [==============================] - 0s 143us/step - loss: 0.0823 - acc: 0.9905 - val_loss: 0.0877 - val_acc: 0.9556
Epoch 43/100
105/105 [==============================] - 0s 143us/step - loss: 0.0790 - acc: 0.9905 - val_loss: 0.1197 - val_acc: 0.9333
Epoch 44/100
105/105 [==============================] - 0s 476us/step - loss: 0.0822 - acc: 0.9810 - val_loss: 0.0936 - val_acc: 0.9556
Epoch 45/100
105/105 [==============================] - 0s 143us/step - loss: 0.0808 - acc: 0.9905 - val_loss: 0.0994 - val_acc: 0.9556
Epoch 46/100
105/105 [==============================] - 0s 143us/step - loss: 0.0813 - acc: 0.9810 - val_loss: 0.0825 - val_acc: 0.9556
Epoch 47/100
105/105 [==============================] - 0s 167us/step - loss: 0.0804 - acc: 0.9905 - val_loss: 0.1061 - val_acc: 0.9333
Epoch 48/100
105/105 [==============================] - 0s 286us/step - loss: 0.0836 - acc: 0.9810 - val_loss: 0.1351 - val_acc: 0.9333
Epoch 49/100
105/105 [==============================] - 0s 190us/step - loss: 0.0854 - acc: 0.9810 - val_loss: 0.0903 - val_acc: 0.9556
Epoch 50/100
105/105 [==============================] - 0s 167us/step - loss: 0.0830 - acc: 0.9905 - val_loss: 0.0915 - val_acc: 0.9556
Epoch 51/100
105/105 [==============================] - 0s 143us/step - loss: 0.0796 - acc: 0.9810 - val_loss: 0.0776 - val_acc: 0.9778
Epoch 52/100
105/105 [==============================] - 0s 143us/step - loss: 0.0876 - acc: 0.9905 - val_loss: 0.0881 - val_acc: 0.9556
Epoch 53/100
105/105 [==============================] - 0s 167us/step - loss: 0.0783 - acc: 0.9905 - val_loss: 0.1088 - val_acc: 0.9333
Epoch 54/100
105/105 [==============================] - 0s 381us/step - loss: 0.0793 - acc: 0.9810 - val_loss: 0.0807 - val_acc: 0.9778
Epoch 55/100
105/105 [==============================] - 0s 119us/step - loss: 0.0802 - acc: 0.9905 - val_loss: 0.0947 - val_acc: 0.9556
Epoch 56/100
105/105 [==============================] - 0s 119us/step - loss: 0.0809 - acc: 0.9905 - val_loss: 0.0999 - val_acc: 0.9556
Epoch 57/100
105/105 [==============================] - 0s 143us/step - loss: 0.0799 - acc: 0.9905 - val_loss: 0.1245 - val_acc: 0.9333
Epoch 58/100
105/105 [==============================] - 0s 214us/step - loss: 0.0846 - acc: 0.9810 - val_loss: 0.1062 - val_acc: 0.9333
Epoch 59/100
105/105 [==============================] - 0s 167us/step - loss: 0.0809 - acc: 0.9810 - val_loss: 0.0852 - val_acc: 0.9556
Epoch 60/100
105/105 [==============================] - 0s 167us/step - loss: 0.0942 - acc: 0.9619 - val_loss: 0.1029 - val_acc: 0.9556

Epoch 61/100
105/105 [==============================] - 0s 238us/step - loss: 0.0788 - acc: 0.9810 - val_loss: 0.1042 - val_acc: 0.9333
Epoch 62/100
105/105 [==============================] - 0s 143us/step - loss: 0.0797 - acc: 0.9810 - val_loss: 0.1093 - val_acc: 0.9333
Epoch 63/100
105/105 [==============================] - 0s 143us/step - loss: 0.0792 - acc: 0.9810 - val_loss: 0.1019 - val_acc: 0.9556
Epoch 64/100
105/105 [==============================] - ETA: 0s - loss: 0.0573 - acc: 1.000 - 0s 214us/step - loss: 0.0794 - acc: 0.9810 - val_loss: 0.0972 - val_acc: 0.9556
Epoch 65/100
105/105 [==============================] - 0s 214us/step - loss: 0.0788 - acc: 0.9905 - val_loss: 0.1260 - val_acc: 0.9333
Epoch 66/100
105/105 [==============================] - 0s 167us/step - loss: 0.0835 - acc: 0.9810 - val_loss: 0.0791 - val_acc: 0.9778
Epoch 67/100
105/105 [==============================] - 0s 143us/step - loss: 0.0823 - acc: 0.9905 - val_loss: 0.0955 - val_acc: 0.9556
Epoch 68/100
105/105 [==============================] - 0s 143us/step - loss: 0.0776 - acc: 0.9905 - val_loss: 0.0907 - val_acc: 0.9556
Epoch 69/100
105/105 [==============================] - 0s 143us/step - loss: 0.0809 - acc: 0.9810 - val_loss: 0.0973 - val_acc: 0.9556
Epoch 70/100
105/105 [==============================] - 0s 286us/step - loss: 0.0779 - acc: 0.9905 - val_loss: 0.0894 - val_acc: 0.9556
Epoch 71/100
105/105 [==============================] - 0s 167us/step - loss: 0.0818 - acc: 0.9905 - val_loss: 0.0802 - val_acc: 0.9778
Epoch 72/100
105/105 [==============================] - 0s 167us/step - loss: 0.0803 - acc: 0.9905 - val_loss: 0.0837 - val_acc: 0.9556
Epoch 73/100
105/105 [==============================] - 0s 190us/step - loss: 0.0782 - acc: 0.9905 - val_loss: 0.0922 - val_acc: 0.9556
Epoch 74/100
105/105 [==============================] - 0s 167us/step - loss: 0.0775 - acc: 0.9905 - val_loss: 0.0932 - val_acc: 0.9556
Epoch 75/100
105/105 [==============================] - 0s 143us/step - loss: 0.0803 - acc: 0.9905 - val_loss: 0.0843 - val_acc: 0.9556
Epoch 76/100
105/105 [==============================] - 0s 167us/step - loss: 0.0784 - acc: 0.9905 - val_loss: 0.1128 - val_acc: 0.9333
Epoch 77/100
105/105 [==============================] - 0s 167us/step - loss: 0.0784 - acc: 0.9810 - val_loss: 0.0895 - val_acc: 0.9556
Epoch 78/100
105/105 [==============================] - 0s 167us/step - loss: 0.0775 - acc: 0.9905 - val_loss: 0.0944 - val_acc: 0.9556
Epoch 79/100
105/105 [==============================] - 0s 167us/step - loss: 0.0774 - acc: 0.9905 - val_loss: 0.0942 - val_acc: 0.9556
Epoch 80/100
105/105 [==============================] - 0s 310us/step - loss: 0.0860 - acc: 0.9905 - val_loss: 0.1008 - val_acc: 0.9556
Epoch 81/100
105/105 [==============================] - 0s 190us/step - loss: 0.0782 - acc: 0.9905 - val_loss: 0.0770 - val_acc: 0.9778
Epoch 82/100
105/105 [==============================] - 0s 167us/step - loss: 0.0940 - acc: 0.9619 - val_loss: 0.0800 - val_acc: 0.9778
Epoch 83/100
105/105 [==============================] - 0s 167us/step - loss: 0.1003 - acc: 0.9619 - val_loss: 0.0774 - val_acc: 0.9778
Epoch 84/100
105/105 [==============================] - 0s 190us/step - loss: 0.0903 - acc: 0.9714 - val_loss: 0.0902 - val_acc: 0.9556
Epoch 85/100
105/105 [==============================] - 0s 524us/step - loss: 0.0818 - acc: 0.9905 - val_loss: 0.0935 - val_acc: 0.9556
Epoch 86/100
105/105 [==============================] - 0s 143us/step - loss: 0.0766 - acc: 0.9905 - val_loss: 0.0863 - val_acc: 0.9556
Epoch 87/100
105/105 [==============================] - 0s 238us/step - loss: 0.0791 - acc: 0.9905 - val_loss: 0.0812 - val_acc: 0.9556
Epoch 88/100
105/105 [==============================] - 0s 167us/step - loss: 0.0836 - acc: 0.9905 - val_loss: 0.0851 - val_acc: 0.9556
Epoch 89/100
105/105 [==============================] - 0s 143us/step - loss: 0.0802 - acc: 0.9905 - val_loss: 0.0849 - val_acc: 0.9556
Epoch 90/100
105/105 [==============================] - 0s 167us/step - loss: 0.0787 - acc: 0.9905 - val_loss: 0.1021 - val_acc: 0.9556
Epoch 91/100
105/105 [==============================] - 0s 167us/step - loss: 0.0777 - acc: 0.9905 - val_loss: 0.1068 - val_acc: 0.9333
Epoch 92/100
105/105 [==============================] - 0s 119us/step - loss: 0.0789 - acc: 0.9810 - val_loss: 0.0897 - val_acc: 0.9556
Epoch 93/100
105/105 [==============================] - 0s 190us/step - loss: 0.0770 - acc: 0.9905 - val_loss: 0.1075 - val_acc: 0.9333
Epoch 94/100
105/105 [==============================] - 0s 143us/step - loss: 0.0825 - acc: 0.9810 - val_loss: 0.1091 - val_acc: 0.9333
Epoch 95/100
105/105 [==============================] - 0s 167us/step - loss: 0.0801 - acc: 0.9905 - val_loss: 0.1025 - val_acc: 0.9333
Epoch 96/100
105/105 [==============================] - 0s 167us/step - loss: 0.0777 - acc: 0.9905 - val_loss: 0.0936 - val_acc: 0.9556
Epoch 97/100
105/105 [==============================] - 0s 167us/step - loss: 0.0768 - acc: 0.9905 - val_loss: 0.0933 - val_acc: 0.9556
Epoch 98/100
105/105 [==============================] - 0s 143us/step - loss: 0.0773 - acc: 0.9905 - val_loss: 0.0813 - val_acc: 0.9556
Epoch 99/100
105/105 [==============================] - 0s 143us/step - loss: 0.0821 - acc: 0.9905 - val_loss: 0.0808 - val_acc: 0.9556
Epoch 100/100
105/105 [==============================] - 0s 167us/step - loss: 0.0799 - acc: 0.9905 - val_loss: 0.1637 - val_acc: 0.9111

In [49]:
y_predict = model.predict(x_test)

In [55]:
y_predict

array([[2.92037753e-03, 9.84696507e-01, 1.23830820e-02],
       [4.01187935e-06, 3.72198899e-03, 9.96273994e-01],
       [9.26102700e-07, 2.03203468e-04, 9.99795854e-01],
       [9.95187402e-01, 4.77912743e-03, 3.34263095e-05],
       [9.96651124e-07, 1.10788026e-03, 9.98891175e-01],
       [9.44462791e-03, 9.73113060e-01, 1.74424220e-02],
       [9.94576454e-01, 5.40219154e-03, 2.12948507e-05],
       [3.60415695e-04, 1.50545254e-01, 8.49094331e-01],
       [9.91444170e-01, 8.52759648e-03, 2.82821147e-05],
       [8.85488465e-04, 2.84137815e-01, 7.14976668e-01],
       [1.19955011e-03, 4.49741691e-01, 5.49058735e-01],
       [1.70757805e-04, 1.38952687e-01, 8.60876620e-01],
       [1.94180916e-06, 2.40201550e-03, 9.97596085e-01],
       [7.68788311e-07, 1.77429954e-03, 9.98224914e-01],
       [9.95567262e-01, 4.41867486e-03, 1.39732319e-05],
       [9.91286814e-01, 8.68441444e-03, 2.88216888e-05],
       [1.21828598e-04, 6.50773272e-02, 9.34800804e-01],
       [1.61063360e-06, 3.23704584e-03, 9.96761382e-01],
       [9.97805655e-01, 2.18668091e-03, 7.57614680e-06],
       [9.94367063e-01, 5.60821127e-03, 2.46014188e-05],
       [2.68940697e-03, 9.87999618e-01, 9.31103900e-03],
       [8.63154810e-07, 5.16340951e-04, 9.99482751e-01],
       [9.98209119e-01, 1.78536610e-03, 5.50858431e-06],
       [2.10279468e-04, 1.46076575e-01, 8.53713214e-01],
       [2.86721811e-03, 9.54381406e-01, 4.27513607e-02],
       [5.36334755e-06, 2.33294605e-03, 9.97661710e-01],
       [1.47295347e-03, 9.87392128e-01, 1.11348843e-02],
       [2.19014729e-03, 9.28708494e-01, 6.91013038e-02],
       [9.97015275e-04, 6.54952645e-01, 3.44050318e-01],
       [5.56789189e-07, 3.00656306e-04, 9.99698758e-01],
       [9.96824980e-01, 3.16448486e-03, 1.06073858e-05],
       [2.40962207e-03, 6.98395312e-01, 2.99195021e-01],
       [1.30919209e-02, 9.78185058e-01, 8.72301310e-03],
       [9.98329699e-01, 1.66551559e-03, 4.73214413e-06],
       [8.42971611e-04, 9.91608024e-01, 7.54903816e-03],
       [9.96717036e-01, 3.27006984e-03, 1.28846250e-05],
       [9.95443344e-01, 4.54152003e-03, 1.52272305e-05],
       [1.28894703e-06, 2.27097655e-03, 9.97727692e-01],
       [9.97880459e-01, 2.11010361e-03, 9.53256676e-06],
       [8.88036629e-06, 4.12402581e-03, 9.95867133e-01],
       [5.89892488e-06, 2.11220933e-03, 9.97881830e-01],
       [2.52771168e-03, 9.70607042e-01, 2.68652756e-02],
       [9.97631788e-01, 2.35938956e-03, 8.82319455e-06],
       [9.97864902e-01, 2.12799665e-03, 7.15292435e-06],
       [1.12671906e-03, 8.52172494e-01, 1.46700829e-01]], dtype=float32)

### Save the Model

In [ ]:
import pickle
pickle.dump(model, open("model.pkl","wb" , ))
#model = pickle.load(open("model.pkl", "rb"))
##"rb" : this means read mode

### Build and Train a Deep Neural network with 2 hidden layer  - Optional - For Practice

Does it perform better than Linear Classifier? What could be the reason for difference in performance?