In [1]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv('titan_data.csv')
df

    SALESPERSON  Old Scheme (in thousands)  New Scheme (in thousands)
0             1                         57                         62
1             2                        103                        122
2             3                         59                         54
3             4                         75                         82
4             5                         84                         84
5             6                         73                         86
6             7                         35                         32
7             8                        110                        104
8             9                         44                         38
9            10                         82                        107
10           11                         67                         84
11           12                         64                         85
12           13                         78                         99
13           14                         53                         39
14           15                         41                         34
15           16                         39                         58
16           17                         80                         73
17           18                         87                         53
18           19                         73                         66
19           20                         65                         78
20           21                         28                         41
21           22                         62                         71
22           23                         49                         38
23           24                         84                         95
24           25                         63                         81
25           26                         77                         58
26           27                         67                         75
27           28                        101                         94
28           29                         91                        100
29           30                         50                         68

In [9]:
oldMean = np.mean(df['Old Scheme (in thousands)'])
oldMean

68.03333333333333

In [10]:
newMean = np.mean(df['New Scheme (in thousands)'])
newMean

72.03333333333333

In [21]:
from scipy.stats import ttest_ind, ttest_rel, ttest_1samp, shapiro, levene, f_oneway
from statsmodels.stats.power import ttest_power
import matplotlib.pyplot as plt

Null Hypothesis : Old and New Scheme ouput are same

Alternate Hypothesis : Old and New Scheme output have significant variance

In [13]:
t_statistic, p_value = ttest_ind(df['Old Scheme (in thousands)'], df['New Scheme (in thousands)'])
print(t_statistic, p_value)

-0.6937067608923764 0.49063515686248105

As p > 0.05 therefore we can not rejet the null hypothesis. We have to rely on Null Hypothesis only. 

It is concluded that new scheme output has not significantly raised compared to the old one.

**Question 4:**

4a> For Type I error with significance level 5%

4b> 
Null Hypothesis : new scheme output not increased by £5000

Alternate Hypothesis : average new scheme output must increase by £5000

In [26]:
t_statistic, p_value = ttest_rel(df['Old Scheme (in thousands)'], df['New Scheme (in thousands)'])
print(t_statistic, p_value)

-1.5559143823544377 0.13057553961337662

In [27]:
power_test = (np.mean(df['Old Scheme (in thousands)']) - np.mean(df['New Scheme (in thousands)'])) / np.sqrt(((30-1)*np.var(df['Old Scheme (in thousands)'])+(30-1)*np.var(df['New Scheme (in thousands)'])) / 30+30-2)
power_test

-0.12909555513169643

In [28]:
print(ttest_power(power_test, nobs=30, alpha=0.05, alternative='two-sided'))

0.10506757964046301